@media only screen and ( max-width: 1024px ) {
  .cabecera, .bienvenido, .justificar, .carrusel, .pie-pagina{
    width: 100%;
    height: 10%;
  }
  /* .img {

  } */
}

@media only screen and ( max-width: 768px ) {

  .cabecera, .bienvenido, .justificar, .carrusel, .pie-pagina{
    width: 100%;
    height: 10%;
  }
}


@media only screen and ( max-width: 480px ) {
  .cabecera, .bienvenido, .justificar, .carrusel, .pie-pagina{
    width: 100%;
    height: 10%;
  }
}


@media only screen and ( max-width: 320px ) {
  .cabecera, .bienvenido, .justificar, .carrusel, .pie-pagina{
    width: 100%;
    height: 10%;
  }
  .imgCarrusel {
    width:100%;
    height: 50%;
  }
}
