
h1{
font-size: 60px;;
 font-family: 'Bitter', serif;
}
#labo {
height: 200px;
  }
body{
  background-color: rgb(255, 229, 33);
  text-aligne: center;
  font-family: 'Bitter', serif;
  font-size: 40px;
  }
header{
  font-family: 'Bitter', serif;
  text-align: center ;
  list-style: none;
  color:#000;
  padding: 0;
  margin: 0;
}
nav{
  /*outline: 2px solid red;*/

}
div{
  /*outline: 2px solid red;*/
  background: #000;
  /*line-height: 30px;*/
}
li{
/*outline: 2px solid yellow;*/
font-size: 30px;
font-family: 'Bitter', serif;
text-align: center;
line-height: 55px;
padding-bottom: 15px;
}
ul {
  /*outline: 2px solid blue;*/
  list-style: none;
  text-decoration: yellow;
  margin:0;
  padding: 0;
  width: 400px;
  margin-left:auto;
  margin-right: auto;
}
  a{
    /*outline: 2px solid green;*/
    text-decoration: none;
    line-height: 55px;
    color:#FDF5E6;
    display: block;
    padding-left: 10px;
}
  a:hover{
background: #333;
color:#ffe521;
text-decoration: none;
line-height: 55px;
  }
/*ul li:first-child{
background: #696969 ;
line-height: 80px;
}*/
