@import url('https://fonts.googleapis.com/css?family=Poor+Story');
html{
  background: url("Images/blueyellow.png") no-repeat center center fixed;
}
body{
<<<<<<< HEAD
  margin: 0;
  padding: 0;
/* background: url(https://cde.canaln.pe/actualidad-mariana-salas-que-orgullo-que-zuckerberg-haya-mencionado-laboratoria-n254829-764x480-323020.jpg);*/
  background-size: cover;
  background-position: center;
  font-style: 'Poor Story', cursive;
}

.loginbox{
  width: 320PX;
  height: 420px;
  background: #000;
  color: #fff;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50% -50%);
  box-sizing: border-box;
=======
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: center;
    font-style: 'Poor Story', cursive;
}

.loginbox{
  font-style: 'Poor Story', cursive;
  width: 320px;
  height: 420px;
  background: rgba(255, 250, 240, 0.5);
  color: #000000;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%,-50%);
  box-sizing: border-box;
  background-blend-mode: lighten;
  padding: 70px 30px;
>>>>>>> 93b397b0c44bd72971ad0fb0562809b731113514
}

.avatar{
  width: 100px;
<<<<<<< HEAD
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: -50%;
=======
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}

h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
    font-style: 'Poor Story', cursive;
}

.loginbox p{
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-style: 'Poor Story', cursive;
}

.loginbox input{
  width: 100%;
  margin-bottom;
}

.loginbox input[type="text"], input[type="password"]{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 30px;
    color: #fff;
    font-size: 16px;
    font-style: 'Poor Story', cursive;
  }

.loginbox input[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    background: #f7b617;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
    font-style: 'Poor Story', cursive;
    }

.loginbox input[type="submit"]:hover{
    cursor: pointer;
    background: #daa520;
    color: #000;
    font-style: 'Poor Story', cursive;
    
}

.loginbox a{
  text-decoration: none;
  font-size: 12px;
  line-height: 40px;
  color: darkgrey;
  font-style: 'Poor Story', cursive;
}

.loginbox a:hover
{
    color: #ffc107;
>>>>>>> 93b397b0c44bd72971ad0fb0562809b731113514
}
