
.cabeza {
height: 60px;
}





.navegador
{
background-color:#F7F7F7;


}


.image_lab{
padding-left:  10px;

}

.bottom_serch{
padding-left:100px;

}

.user {
background-color:#FFE032;
height: 170px;

}

.image{
padding-top: 45px;
}

.nav_Vertical{
background-color:#FFE65C;
height: 500px;
}

.button{
padding-top: 20px;
padding-left: 500px;
}



.centrado_botton .bottom_cont {

font-size: 22px;
}

.correo {
text-decoration-color: #000000;
font-size: 12px;
}


.sedes
{
font-size: 18px;
}
.home
{
font-size: 18px;
}
