*{margin:0; padding:0;}
header {
    text-align: center;
    background: white;
    margin-bottom:20px;
    overflow: hidden;
}
nav{
    border-block-end-color: aliceblue;
}
#encabezado{
    margin-left: 0;
    margin-top: 2em;
}
body{
    background-color: rgb(241, 235, 238);
    color: rgb(0, 0, 0);
}
span{
    font-size: 1.5em;
}
#cards{
    font-weight: bold;
}

#side a.active{
    background-color: pink;
    color: black;
}
#btn disabled{
    color: yellow;
}

#responsive-img logo{
    height: 50px;
    width: 50px;
}
#footer{
    height: 100px;
    width: 100px;
}
