@import url('https://fonts.googleapis.com/css?family=Poor+Story');


html {
  background: url("Images/blueyellow.png") no-repeat center center fixed;
  background-size: auto;
  max-width: 100%;
  height: 100%;
  }

/*.Images{
  resize: both;
  /*margin: 100px 100px;/*100 de arriba 500 a los lados
  align-items: center;
}*/

body{
  /* background: url(https://cde.canaln.pe/actualidad-mariana-salas-que-orgullo-que-zuckerberg-haya-mencionado-laboratoria-n254829-764x480-323020.jpg);*/
  background-size: contain; ;/*Usa todo el fondo*/
  background-position: center;
  font-style: 'Poor Story', cursive;
}

.loginbox{
  width: 320PX;
  height: 420px;
  background: #cccccc;/*color de placeholder*/
  color: #191919;/*Color de escritura al poner usuario*/
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50% -50%);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-size: cover;
  background-position: center;
  font-style: 'Poor Story', cursive;
}

.loginbox{
  font-style: 'Poor Story', cursive;
  width: 320px;
  height: 420px;
  background: rgba(255, 250, 240, 0.5);
  color: #000000;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%,-50%);
  box-sizing: border-box;
  background-blend-mode: lighten;
  padding: 70px 30px;

}

.avatar{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: -50%;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: -50px;
  left: calc(50% - 50px);
}

h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
    font-style: 'Poor Story', cursive;
}

.loginbox p{
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-style: 'Poor Story', cursive;
}

.loginbox input{
  width: 100%;
  margin-bottom;
}

.loginbox input[type="text"], input[type="password"]{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 30px;
    color: #191919;
    font-size: 13px;
    font-style: 'Poor Story', cursive;
  }

.loginbox input[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    background: #f7b617;
    color: #fff;
    font-size: 13px;
    border-radius: 20px;
    font-style: 'Poor Story', cursive;
    }

.loginbox input[type="submit"]:hover{
    cursor: pointer;
    background: #daa520;
    color: #000;
    font-style: 'Poor Story', cursive;

}

.loginbox a{
  text-decoration: none;
  font-size: 12px;
  line-height: 40px;
  color: darkgrey;
  font-style: 'Poor Story', cursive;
}

.loginbox a:hover{
    color: #ffc107;

/*HTML de menús*/
.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
  }

  .navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  .navbar a:hover {
    background: #ddd;
    color: black;
  }

  .main {
    padding: 16px;
    margin-top: 30px;
    height: 1500px; /* Used in this example to enable scrolling */
  }

.button {
  background: rgb(255, 165, 0);/*color de botón*/
  color: rgb(255, 255, 255);/*color de letra*/
  display: inline-block;/*para que este un boton al lado de otro*/
  font-size: 60%;/*Tamaño de la fuente*/
  font-family: 'Poor Story', cursive;
  margin: 120px ; /*margen hacia todos los lados */
  padding: 20px 20px; /*20 hacia arriba y abajo y 20 hacia los lados*/
  text-align: center;/*Texto centrado en los botone*/
  width: 400px; /*anchura- se tiene que agregar pues al poner el inline-block ya no ocupa toda la línea */
  text-decoration: none;/*Quitar el subrayado por defecto que tine <a>*/
  box-shadow: 0px 3px 2px rgb(120, 120, 120);/*Efecto de la sombra del botón*/
  border-radius: 50px;
}

.button:hover{/*el efecto va hasta el finale de todos nuestos estilos de color*/
  box-shadow: 0px 0px 0px;
  padding-top: 7px;
}

#container{
  font-size: 40px;
  font-family: 'Poor Story', cursive;
  text-align: center;


}
