body{
	font-family: 'Oswald', sans-serif;

}
*{
	margin: 0;
	padding: 0;
}


/*HEADER*/
header{
    background-color: #ffe521;
    height: 80px;
    font-size: 18px;
}

.usuario{
    float: right;
    margin-right: 100px;
    margin-top: 8px;
}




/*  MENU   */
.hambur{
	margin: -65px 0 0 23px;
    cursor: pointer;
    position: fixed;
}

#icono{
	display: none;
}

#icono:checked ~ .menu-all{
	max-height: 1200px;
	transform: all;}

.menu-all{
	width: 190px;
	max-height: 0;
	list-style: none;
	overflow: hidden;
	max-height: 0;
	transition: all .4s linear;
	overflow: hidden;
	position: fixed;
}
nav{
	width: 190px;
	height: auto;
    margin: 10px;
	font-family: 'Oswald', sans-serif;
    	
}
.menu label{
	display: block;
	padding: 10px;
    background-color: #f7a630;
    font-size: 20px;
    cursor: pointer;
    color: #000;
    border-bottom: solid 1px #FFF;

}
.menu label:hover{
	background-color: gray;
}
.menu ul{
	width: 100%;
	list-style: none;
	overflow: hidden;
	max-height: 0;
	transition: all .4s linear;
}
.menu input{
	display: none;
}
.menu ul li a{
	width: 100%;
	height: 20%;
	padding: 10px;
	display: block;
	text-decoration: none;
	background-color: #fff;
    color: orange;
    border-bottom: solid #000 1px;
}

.menu ul li a:hover{
	background-color: gray;
}

.menu input:checked ~ ul{
	height: auto;
	max-height: 1200px;
	transform: all;

}
.icono{}

.titu{
 text-align: center;
 font-size: 14px;
 
}


/*LOGIN*/
.login{
/*border:solid;*/
}
.izq{
	border-radius: 10px 0 0 10px;
	background-color:#ffffffe3;
	display: block;
    text-align: center;	

}
.der{
	background-color: #ffe521e6;
	height: 374px;
	border-radius: 0 10px 10px 0;
}
.container{
	margin-top: 140px;

}
.input{
	display: block;

}
.cajita{
    background: none;
    border-width: 0;
    width: 240px;
    border-bottom: white solid 1px;
   
}
.img{

}

.titulo{
	text-align: center;
    display: block;
    margin: 35px 0;
    font-size: 22px;
}
.check{
	font-size: 13px;
}
.boton{
	border-radius: 7px;
    width: 135px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 35px;
    font-size: 14px;

}
.log{
    margin-top: 120px;
}

article{
    border: solid;
    width: 50%;
    display: block;
    margin-left: auto;
}
/*VIEW GENERAL*/
.box-generales{
    border: solid;
    width: 80%;
    margin-left: auto;
}

.box1{
	
	display: inline-block;
    width: 32%;
}
.titular{
    background: #f8069df2;
    height: 50px;
    text-align: center;
    padding: 18px 0 0px;
    color: white;
    font-size: 24px;
}
.cuerpo{
    text-align: center;
    font-size: 20px;
}







