
.cabeza {

height: 60px;

}

.search{

padding-top: 20px;

padding-bottom:	20px;

}

.navegador

{

background-color:#FCFCFC;
padding-top: 10px;

height: 200px;
}



.pintar{

	background-color:	#FCFCFC;
}





.image_lab{

padding-left:10px;



}



.otra{

background-color: red;



}



.user {

background-color:#FFE032;

height: 200px;



}



.image{

padding-top: 45px;

}



.nav_Vertical{

background-color:#FFE65C;

height: 2000px;

}



.button{

padding-top: 20px;

padding-left: 500px;

}


.correo {

text-decoration-color: #000000;

font-size: 12px;

}

.sedes

{

font-size: 18px;

}

.home

{

font-size: 18px;

}


.info{
	width: 200px;
  height: 200px;
  display: inline-flex;
  margin: 0.5rem;
  background-color: #FF009A;
  color: #FFFFFF;
  text-align: center;
	border-radius: 10px;

}
.infoa {
	width: 200px;
	height: 200px;
	display: inline-flex;
	margin: 0.5rem;
	background-color:#1DDC65;
	color: #FFFFFF;
	text-align: center;
	border-radius: 10px;
}

.infob {
	width: 200px;
	height: 200px;
	display: inline-flex;
	margin: 0.5rem;
	background-color: #F0EE4C;
	color: #FFFFFF;
	text-align: center;
	border-radius: 10px;
}

.p{
	font-size: 89px;
}
