
.cabeza {

height: 60px;

}



.search{

padding-top: 20px;

padding-bottom:	20px;

}









.navegador

{

background-color:#FCFCFC;



padding-top: 10px;



height: 70px;



}



.pintar{

	background-color:	#FCFCFC;

}





.image_lab{

padding-left:10px;



}



.otra{

background-color: red;



}



.user {

background-color:#FFE032;

height: 200px;



}



.image{

padding-top: 45px;

}



.nav_Vertical{

background-color:#FFE65C;

height: 2000px;

}



.button{

padding-top: 20px;

padding-left: 500px;

}











.correo {

text-decoration-color: #000000;

font-size: 12px;

}

.sedes

{

font-size: 18px;

}

.home

{

font-size: 18px;

}
